<%- include('includes/head') %> <%- include('includes/nav') %>

<div class="container">
  <div class="row my-5">
    <h3 class="text-center">Olá</h3>
    <p class="text-center lead">Conectado em <%= user.email %></p>

    <%- include('includes/messages') %>
  </div>
</div>

<%- include('includes/footer') %>
